@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Open+Sans:wght@400;600;700&display=swap");
@import "/css/reset.css";
@import "/css/variable.css";

/*Components*/
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/user-components.css";

/*Screens*/
@import "./screens/login.css";
@import "./screens/friends-header.css";
@import "./screens/pop.css";

body {
	height: 1100vh;
	overflow-x: hidden;
	font-family: "Mouse Memoirs", sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
