@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Open+Sans:wght@400;600;700&display=swap');
@import '/css/reset.css';
@import '/css/variable.css';

/*Components*/
@import './components/status-bar.css';
@import './components/nav-bar.css';
@import './components/user-components.css';
@import './components/advertisement.css';
@import './components/badge.css';
@import './components/chats-components.css';

/*Screens*/
@import './screens/login.css';
@import './screens/friends-header.css';
@import './screens/pop.css';
@import './screens/birthday.css';
@import './screens/favorites.css';
@import './screens/channel.css';
@import './screens/friends-list.css';
@import './screens/open-chats.css';

body {
  overflow-x: hidden;
  font-family: 'Mouse Memoirs', sans-serif;
  height: auto;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

.arrow {
  font-size: 0.6em;
  color: var(--main-color);
}

.advertisement-img {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  object-position: 30% 32%;
  display: block;
  border-radius: 10px;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
