#chat-screen {
  height: 110vh;
}

#chat-screen::before {
  content: '';
  width: 100%;
  height: 110vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/images/chat-bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -2;
}

#chat-screen .alt-header {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
}

.alt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.alt-header__column {
  width: 33%;
}

.alt-header__title {
  font-size: 1.5em;
  color: var(--main-color);
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:first-child {
  margin-right: 15px;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.chat-timestamp {
  text-align: center;
  padding: 10px 15px;
  font-size: 1.2em;
  border-radius: 20px;
  color: var(--main-color);
  background-color: #92a4b2;
  opacity: 0.5;
}

.message-row {
  width: 100%;
  display: flex;
  margin: 25px 0 5px 0;
}

.message-row:first-of-type {
  margin-top: 500px;
}

.message-row img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 20px;
}

.message-author {
  margin-bottom: 3px;
  font-size: 1.2em;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  margin-right: 5px;
  padding: 12px;
  font-size: 1.2em;
  border-radius: 10px;
  border-top-left-radius: 0;
  background-color: var(--main-color);
  color: white;
}

.message-author,
.message__time {
  opacity: 0.5;
}

.message-row__own {
  justify-content: flex-end;
}

.message-row__own .message__bubble {
  margin-left: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
  background-color: #fadc05;
  color: black;
}

.message-row__own .message__info {
  flex-direction: row-reverse;
}

.reply {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  position: fixed;
  bottom: 0;
  background-color: white;
  box-sizing: border-box;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -19px;
  top: 2px;
}

.reply__column:last-child > i {
  top: 10px;
  right: 20px;
}

.reply__column button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fadc05;
  border: none;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
