.main-screen {
  padding: var(--main-space);
}

.chat-container {
  display: flex;
  margin-bottom: 20px;
}

.chat-container__column {
  display: flex;
  align-items: center;
}

.chat-container__info {
  display: flex;
  flex-direction: column;
}

.chat-container__header {
  display: flex;
  align-items: center;
}

.chat-container__title {
  font-size: 1.5em;
  color: var(--main-color);
}

.chat-container__subtitle {
  max-width: 300px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.7);
}

.chat-container__info i {
  margin-left: 4px;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
}

.chat-container__column:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.chat-container__column:nth-child(2) span {
  margin-bottom: 5px;
}
