.login-form {
  width: 100%; /* 폼의 너비를 전체 페이지로 설정 */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-form input {
  width: 60%;
  padding: 10px;
  margin: 5px 0;
  color: white;
  border: 1px solid #fadadd;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  transition: border-color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.login-form input:focus {
  border-color: black;
}

.login-form input::placeholder {
  color: #fdfd96;
  text-shadow: 2px 2px 4px #000000;
}

.login-form input[type='submit'] {
  width: 30%;
  margin: 10px 0 20px 0;
  border-radius: 0;
  color: #fdfd96;
  text-shadow: 2px 2px 4px #000000;
  cursor: pointer;
}

.login-form input[type='submit']:hover {
  background-color: pink;
}

.login-form .find {
  font-size: 1.1em;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.5s ease-in-out;
}

.login-form .find:hover {
  border-bottom-color: #fdfd96;
}

#login-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url(/images/login-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}
