#friends-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 162vh;
  background-image: url('/images/disney-up4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  z-index: -1;
}

.nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 20px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  /* box-shadow: 10px 5px 10px; */
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  color: #003366;
}

.nav__link {
  position: relative;
}

.nav__notification {
  position: absolute;
  bottom: 10px;
  left: 12px;
}
