.user-component,
.user-component__column {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-component__column img {
	width: 60px;
	height: 60px;
	border-radius: 40%;
	margin-right: 10px;
}

.user-component__column__text {
	font-size: 1.6em;
	color: var(--main-color);
}

.user-component__column__subtext {
	color: rgba(0, 0, 0, 0.7);
}

.user-component__column:nth-child(2) img {
	width: 35px;
	height: 35px;
}

.user-component__column span {
	color: rgba(0, 0, 0, 0.5);
}
